<div class="container login-container">
    <div class="row">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="row">
            <h2>NODAL LOGIN</h2>
            <form [formGroup]="form" class="row g-3" (ngSubmit)="checkLogin()">
                <div class="col-4">
                    <label for="username" class="form-label">Enter UserName</label>
                    <input formControlName="username" type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Enter nodal username" >
                </div>
                <div class="col-4">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input formControlName="password" type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Enter password" >
                </div>
                <div class="col-12">
                    <button type="submit" class="login-btn btn btn-success" value="login">Login</button>
                </div>
                
            </form>
        </div>    
        </div>  
    </div>
</div>
